html {
  scroll-behavior: smooth;
}

.welcome {
  background-image:image();
  background-position: center;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 17%;
  font-family: cursive;
}

.welcome h1 {
  padding: 2px;
  margin: 5px;
}

.welcome p {
  padding: 2px;
}

#logo {
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}

#mouseClick {
  padding-top: 22px;
  margin-top: 10%;
  padding-bottom: 30px;
}

.about {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: cursive;
}

#about {
  font-family: cursive;
}

.services {
  text-align: center;
  background-image: image();
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: cursive;
  font-size: 18px;
}

.services h2 {
  font-family: cursive;
}

#servicesOverlay {
  background-color: #0, 0, 0, 0.4;
  padding-top: 10%;
  padding-bottom: 10%;
}

.whatWeDo {
  font-family: cursive;
  text-align: center;
  padding-top: 40%;
}

.whatWeDo .headings {
  padding-bottom: 38px;
}

.title {
  padding: 6px;
}

#product, #development, #design {
  display: none;
  font-family:cursive;
  font-size: 16px;
}

#product .title, #development .title, #design .title {
  display: none;
  font-family:cursive;
  font-size: 16px;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 18%;
  margin-right: 16%;
}

.portfolio h2 {
  text-align: center;
  padding-top: 40px;
  font-family: serif;
}

.col-md-3 img {
  max-width: 100%;
}
