html {
  scroll-behavior: smooth;
}

.welcome {
  background-image:image();
  background-position: center;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 17%;
  font-family: cursive;
}

.welcome h1 {
  padding: 2px;
  margin: 5px;
}

.welcome p {
  padding: 2px;
}

#logo {
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}

#mouseClick {
  padding-top: 22px;
  margin-top: 10%;
  padding-bottom: 30px;
}

.about {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: cursive;
}

#about {
  font-family: cursive;
}
